<?php

// Save this as /resources/secret/config.php

// You probably also want to make these declarations with DEFINE or something.

$db_host = ''; // Database host
$db_user = ''; // Database user
$db_pass = ''; // Database password
$db_database = ''; // Database name

// Styles
$library_name = 'GVSU University Libraries';

$header_image = '//gvsu.edu/homepage/files/img/gvsu_logo.png';
$header_url = 'http://gvsu.edu';
$banner_color = '#0065A4';

// Set default variables for sending emails
  $to_email = 'mreidsma@gmail.com';
  $from_email = 'reidsmam@gvsu.edu';
  $email_subject = 'Testing';
