<?php

// Save this as /resources/secret/config.php

$db_host = ''; // Database host
$db_user = ''; // Database user
$db_pass = ''; // Database password
$db_database = ''; // Database name

// Styles
$library_name = 'Library';
$header_image = '//gvsu.edu/homepage/files/img/gvsu_logo.png';
$header_url = '';
$banner_color = '#0065A4';

// Subscriptions
$rss_url = '/rss';
$email_subscription_url = '';

// Set default variables for sending emails
$to_email = 'your@email.com';
$from_email = 'library@email.com';
$email_subject = 'Library Status Problem Report';

//Native login or not
$use_native = false;
